openapi: 3.0.1
info:
  title: Palantir OpenAPI
  description: The Palantir REST API. Please see https://www.palantir.com/docs for
    more details.
  version: 3.0.1
externalDocs:
  description: API Documentation
  url: https://www.palantir.com/docs
servers:
- url: https://jacobs.palantirfoundry.com
paths:
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-messages/apply:
    post:
      tags:
      - CreateOrbitDocsChatMessagesApiService
      operationId: createOrbitDocsChatMessagesApplyCreateOrbitDocsChatMessages
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-messages/applyAsync:
    post:
      tags:
      - CreateOrbitDocsChatMessagesApiService
      operationId: createOrbitDocsChatMessagesCreateOrbitDocsChatMessagesAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-messages/applyBatch:
    post:
      tags:
      - CreateOrbitDocsChatMessagesApiService
      operationId: createOrbitDocsChatMessagesBatchCreateOrbitDocsChatMessages
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-sessions/apply:
    post:
      tags:
      - CreateOrbitDocsChatSessionsApiService
      operationId: createOrbitDocsChatSessionsApplyCreateOrbitDocsChatSessions
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-sessions/applyAsync:
    post:
      tags:
      - CreateOrbitDocsChatSessionsApiService
      operationId: createOrbitDocsChatSessionsCreateOrbitDocsChatSessionsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-chat-sessions/applyBatch:
    post:
      tags:
      - CreateOrbitDocsChatSessionsApiService
      operationId: createOrbitDocsChatSessionsBatchCreateOrbitDocsChatSessions
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-doc-meta/apply:
    post:
      tags:
      - CreateOrbitDocsDocMetaApiService
      operationId: createOrbitDocsDocMetaApplyCreateOrbitDocsDocMeta
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-doc-meta/applyAsync:
    post:
      tags:
      - CreateOrbitDocsDocMetaApiService
      operationId: createOrbitDocsDocMetaCreateOrbitDocsDocMetaAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-doc-meta/applyBatch:
    post:
      tags:
      - CreateOrbitDocsDocMetaApiService
      operationId: createOrbitDocsDocMetaBatchCreateOrbitDocsDocMeta
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-entities-canonical/apply:
    post:
      tags:
      - CreateOrbitDocsEntitiesCanonicalApiService
      operationId: createOrbitDocsEntitiesCanonicalApplyCreateOrbitDocsEntitiesCanonical
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-entities-canonical/applyAsync:
    post:
      tags:
      - CreateOrbitDocsEntitiesCanonicalApiService
      operationId: createOrbitDocsEntitiesCanonicalCreateOrbitDocsEntitiesCanonicalAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-entities-canonical/applyBatch:
    post:
      tags:
      - CreateOrbitDocsEntitiesCanonicalApiService
      operationId: createOrbitDocsEntitiesCanonicalBatchCreateOrbitDocsEntitiesCanonical
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-folder-registry/apply:
    post:
      tags:
      - CreateOrbitDocsFolderRegistryApiService
      operationId: createOrbitDocsFolderRegistryApplyCreateOrbitDocsFolderRegistry
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-folder-registry/applyAsync:
    post:
      tags:
      - CreateOrbitDocsFolderRegistryApiService
      operationId: createOrbitDocsFolderRegistryCreateOrbitDocsFolderRegistryAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-folder-registry/applyBatch:
    post:
      tags:
      - CreateOrbitDocsFolderRegistryApiService
      operationId: createOrbitDocsFolderRegistryBatchCreateOrbitDocsFolderRegistry
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-relationships/apply:
    post:
      tags:
      - CreateOrbitDocsRelationshipsApiService
      operationId: createOrbitDocsRelationshipsApplyCreateOrbitDocsRelationships
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-relationships/applyAsync:
    post:
      tags:
      - CreateOrbitDocsRelationshipsApiService
      operationId: createOrbitDocsRelationshipsCreateOrbitDocsRelationshipsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-relationships/applyBatch:
    post:
      tags:
      - CreateOrbitDocsRelationshipsApiService
      operationId: createOrbitDocsRelationshipsBatchCreateOrbitDocsRelationships
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3-user/apply:
    post:
      tags:
      - CreateOrbitDocsV3UserApiService
      operationId: createOrbitDocsV3UserApplyCreateOrbitDocsV3User
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3-user/applyAsync:
    post:
      tags:
      - CreateOrbitDocsV3UserApiService
      operationId: createOrbitDocsV3UserCreateOrbitDocsV3UserAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3-user/applyBatch:
    post:
      tags:
      - CreateOrbitDocsV3UserApiService
      operationId: createOrbitDocsV3UserBatchCreateOrbitDocsV3User
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3rate-limit-grants/apply:
    post:
      tags:
      - CreateOrbitDocsV3rateLimitGrantsApiService
      operationId: createOrbitDocsV3rateLimitGrantsApplyCreateOrbitDocsV3rateLimitGrants
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.CreateOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3rate-limit-grants/applyAsync:
    post:
      tags:
      - CreateOrbitDocsV3rateLimitGrantsApiService
      operationId: createOrbitDocsV3rateLimitGrantsCreateOrbitDocsV3rateLimitGrantsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncCreateOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/create-orbit-docs-v3rate-limit-grants/applyBatch:
    post:
      tags:
      - CreateOrbitDocsV3rateLimitGrantsApiService
      operationId: createOrbitDocsV3rateLimitGrantsBatchCreateOrbitDocsV3rateLimitGrants
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchCreateOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-messages/apply:
    post:
      tags:
      - DeleteOrbitDocsChatMessagesApiService
      operationId: deleteOrbitDocsChatMessagesApplyDeleteOrbitDocsChatMessages
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-messages/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsChatMessagesApiService
      operationId: deleteOrbitDocsChatMessagesDeleteOrbitDocsChatMessagesAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-messages/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsChatMessagesApiService
      operationId: deleteOrbitDocsChatMessagesBatchDeleteOrbitDocsChatMessages
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-sessions/apply:
    post:
      tags:
      - DeleteOrbitDocsChatSessionsApiService
      operationId: deleteOrbitDocsChatSessionsApplyDeleteOrbitDocsChatSessions
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-sessions/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsChatSessionsApiService
      operationId: deleteOrbitDocsChatSessionsDeleteOrbitDocsChatSessionsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-chat-sessions/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsChatSessionsApiService
      operationId: deleteOrbitDocsChatSessionsBatchDeleteOrbitDocsChatSessions
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-doc-meta/apply:
    post:
      tags:
      - DeleteOrbitDocsDocMetaApiService
      operationId: deleteOrbitDocsDocMetaApplyDeleteOrbitDocsDocMeta
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-doc-meta/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsDocMetaApiService
      operationId: deleteOrbitDocsDocMetaDeleteOrbitDocsDocMetaAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-doc-meta/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsDocMetaApiService
      operationId: deleteOrbitDocsDocMetaBatchDeleteOrbitDocsDocMeta
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsDocMetaRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-entities-canonical/apply:
    post:
      tags:
      - DeleteOrbitDocsEntitiesCanonicalApiService
      operationId: deleteOrbitDocsEntitiesCanonicalApplyDeleteOrbitDocsEntitiesCanonical
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-entities-canonical/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsEntitiesCanonicalApiService
      operationId: deleteOrbitDocsEntitiesCanonicalDeleteOrbitDocsEntitiesCanonicalAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-entities-canonical/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsEntitiesCanonicalApiService
      operationId: deleteOrbitDocsEntitiesCanonicalBatchDeleteOrbitDocsEntitiesCanonical
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsEntitiesCanonicalRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-folder-registry/apply:
    post:
      tags:
      - DeleteOrbitDocsFolderRegistryApiService
      operationId: deleteOrbitDocsFolderRegistryApplyDeleteOrbitDocsFolderRegistry
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-folder-registry/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsFolderRegistryApiService
      operationId: deleteOrbitDocsFolderRegistryDeleteOrbitDocsFolderRegistryAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-folder-registry/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsFolderRegistryApiService
      operationId: deleteOrbitDocsFolderRegistryBatchDeleteOrbitDocsFolderRegistry
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsFolderRegistryRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-relationships/apply:
    post:
      tags:
      - DeleteOrbitDocsRelationshipsApiService
      operationId: deleteOrbitDocsRelationshipsApplyDeleteOrbitDocsRelationships
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-relationships/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsRelationshipsApiService
      operationId: deleteOrbitDocsRelationshipsDeleteOrbitDocsRelationshipsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-relationships/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsRelationshipsApiService
      operationId: deleteOrbitDocsRelationshipsBatchDeleteOrbitDocsRelationships
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsRelationshipsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3-user/apply:
    post:
      tags:
      - DeleteOrbitDocsV3UserApiService
      operationId: deleteOrbitDocsV3UserApplyDeleteOrbitDocsV3User
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3-user/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsV3UserApiService
      operationId: deleteOrbitDocsV3UserDeleteOrbitDocsV3UserAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3-user/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsV3UserApiService
      operationId: deleteOrbitDocsV3UserBatchDeleteOrbitDocsV3User
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsV3UserRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3rate-limit-grants/apply:
    post:
      tags:
      - DeleteOrbitDocsV3rateLimitGrantsApiService
      operationId: deleteOrbitDocsV3rateLimitGrantsApplyDeleteOrbitDocsV3rateLimitGrants
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.DeleteOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3rate-limit-grants/applyAsync:
    post:
      tags:
      - DeleteOrbitDocsV3rateLimitGrantsApiService
      operationId: deleteOrbitDocsV3rateLimitGrantsDeleteOrbitDocsV3rateLimitGrantsAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncDeleteOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/delete-orbit-docs-v3rate-limit-grants/applyBatch:
    post:
      tags:
      - DeleteOrbitDocsV3rateLimitGrantsApiService
      operationId: deleteOrbitDocsV3rateLimitGrantsBatchDeleteOrbitDocsV3rateLimitGrants
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchDeleteOrbitDocsV3rateLimitGrantsRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/edit-orbit-docs-chat-messages/apply:
    post:
      tags:
      - EditOrbitDocsChatMessagesApiService
      operationId: editOrbitDocsChatMessagesApplyEditOrbitDocsChatMessages
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.EditOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.SyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/edit-orbit-docs-chat-messages/applyAsync:
    post:
      tags:
      - EditOrbitDocsChatMessagesApiService
      operationId: editOrbitDocsChatMessagesEditOrbitDocsChatMessagesAsync
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      - name: preview
        in: query
        description: |
          A boolean flag that, when set to true, enables the use of beta features in preview mode.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.AsyncEditOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AsyncApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: PRIVATE_BETA
  /api/v2/ontologies/jacobs-ontology/actions/edit-orbit-docs-chat-messages/applyBatch:
    post:
      tags:
      - EditOrbitDocsChatMessagesApiService
      operationId: editOrbitDocsChatMessagesBatchEditOrbitDocsChatMessages
      parameters:
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.BatchEditOrbitDocsChatMessagesRequest"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.BatchApplyActionResponseV2"
      security:
      - BearerAuth: []
      x-releaseStage: STABLE
  /api/v2/ontologies/jacobs-ontology/actions/edit-orbit-docs-chat-sessions/apply:
    post:
      tags:
      - EditOrbitDocsChatSessionsApiService
      operationId: editOrbitDocsChatSessionsApplyEditOrbitDocsChatSessions
      parameters:
      - name: traceParent
        in: header
        description: |
          The W3C trace parent header included in the request.
        required: false
        schema:
          type: string
      - name: traceState
        in: header
        description: |
          The W3C trace state header included in the request.
        required: false
        schema:
          type: string
      - name: sdkPackageRid
        in: query
        description: |
          The package rid of the generated SDK.
        required: false
        schema:
          type: string
      - name: sdkVersion
        in: query
        description: |
          The version of the generated SDK.
        required: false
        schema:
          type: string
      - name: transactionId
        in: query
        description: |
          The ID of an Ontology transaction to apply the action against.
          Transactions are an experimental feature and all workflows may not be supported.
        required: false
        schema:
          type: string
      - name: scenarioRid
        in: query
        description: |
          The resource identifier of an ontology scenario to apply the action against.
        required: false
        schema:
          type: string
      - name: branch
        in: query
        description: |
          The Foundry branch to apply the action against. If not specified, the default branch is used.
          Branches are an experimental feature and not all workflows are supported.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Osdk.EditOrbitDocsChatSessionsRequest"
        required: true
      responses:
        "200":
[...]
